@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    margin: 0%;
    padding: 5px 10px;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

:root {
    --ligth-theme-font: #ec9e46;
    --light-font2: #414141;
    --poesten-font: "Poetsen One", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --link-color : #382b9f;
    ;
}

/* Navbar  */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    /* border-bottom: 1px solid #ababab ; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#nav-links {
    list-style-type: none;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#cross-mark {
    display: none;
}

#nav-links>.link-item {
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-item:hover {
    border-bottom: 2px solid var(--ligth-theme-font);
    /* transition: border-bottom 0.5s linear; */
}


.link-item>a {
    text-decoration: none;
    color: var(--light-font2);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--poppins-font);
}

.link-item>a:hover {
    color: var(--ligth-theme-font);
    transition: color 0.5s linear;
}


.nav-logo {
    font-family: var(--poesten-font);
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img-container {
    width: fit-content;
    height: fit-content;
}

.logo-img-container>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav-logo>#name-span {
    color: var(--ligth-theme-font);
    margin: 0%;
}

/* Nav End Content */
.nav-end-content {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
}


#dark-theme {
    font-size: 30px;
    color: var(--ligth-theme-font);
    /* padding: 10px 12px; */
}

#dark-theme:hover {
    color: var(--light-font2);
}

.hamburger {
    font-size: 30px;
    display: none;
}

/* Main  */
.hero-container {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text-content {
    width: 100%;
    color: var(--light-font2);
    padding: 120px 40px;
    font-size: 45px;
    font-family: var(--poesten-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero-text-content>#hero-heading {
    margin: 0%;
}

.hero-text-content>#hero-heading>span {
    color: var(--ligth-theme-font);
}

.hero-text-content>h3 {
    margin: 0%;
    font-size: 40px;
}



.hero-button-container {
    width: fit-content;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#explore-projects {
    width: fit-content;
    background-color: var(--light-font2);
    color: var(--ligth-theme-font);
    padding: 16px 18px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--poppins-font);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#explore-projects>a {
    color: var(--ligth-theme-font);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

#explore-projects>a:hover {
    color: var(--light-font2);
}

#explore-projects:hover {
    background-color: #fff;
    border: 2px solid var(--light-font2);
    color: var(--light-font2);
    scale: 1.04;
}

#explore-arrow {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: var(--ligth-theme-font);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#explore-arrow:hover {
    background-color: #fff;
    border: 2px solid var(--ligth-theme-font);
}

#explore-arrow>a {
    font-size: 25px;
    padding: 14px 13px;
    color: var(--light-font2);
}

#explore-arrow>a:hover {
    color: var(--ligth-theme-font);
    rotate: 40deg;
    transition: rotate 0.7s linear;
}


/* About Section  */
#about-section {
    border-top: 1px solid #c6c5c4;
    border-bottom: 1px solid #c6c5c4;
    /* border: 2px solid black; */
    padding: 24px 50px;
    background-color: #f5f5f5;
    font-family: var(--poppins-font);
    color: var(--light-font2);
}

.sec-heading{
    font-size: 40px;
    font-family: var(--poppins-font);
    margin: 0%;
    word-spacing: 5px;
    text-shadow: 0px 14px 17px rgba(69, 68, 68, 0.7);
}

.about-container{
    font-size: 18px;
    font-weight: 400;
}

#about-skills-ul{
    margin: 0%;
    padding: 0;
    font-weight: 600;
}

.resume-container{
    width: fit-content;
    padding: 3px ;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.resume-container>a{
    font-size: 18px;
    font-weight: 600;
    word-spacing: 5px;
    color: var(--link-color);
}

#resume-btn{
    width: 39px;
    height: 39px;
    background-color: var(--ligth-theme-font);
    outline: none;
    color: var(--light-font2);
    border: none;
    font-size: 22px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#resume-btn>a{
    color: var(--light-font2);

}
#resume-btn>a:hover{
    color: var(--ligth-theme-font);
}

#resume-btn:hover{
    background-color: #fff;
    border: 2px solid var(--ligth-theme-font);
    color: var(--ligth-theme-font);
    rotate: 40deg;
    transition: rotate 0.7s linear;
    scale: 1.1;
}


/* Project Section  */
#projects-sec{
    margin-top: 4px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #fafafa;
}


.project-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 10px;
    flex-wrap: wrap;
    padding: 5px 0px;
}


.project-box{
    max-width: 370px;
    min-width: 330px;
    padding: 10px 6px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.project-box:hover{
    scale: 1.01;
    transition: scale 0.5s linear;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-thumbnail-container{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.project-thumbnail-container>img{
    width: fit-content;
    height: fit-content;
}


.project-about{
    height: 150px;
    border-top: 1px solid #c5c6c4;
    border-bottom: 1px solid #c5c6c4;
    padding: 13px 10px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: var(--light-font2);
    font-family: var(--poppins-font);
}


.project-about>h4{
    margin: 0%;
    font-size: 17px;
}

.project-about>p{
    margin: 0%;
    font-size: 14px;
}


.button-container{
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#view-project{
    background-color: var(--link-color);
    color: #fff;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 16px;
    font-family: var(--poesten-font);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#view-project:hover{
    scale: 1.01;
    transition: scale 0.5s linear;
    background-color: #fff;
    border: 2px solid var(--link-color);
    color: var(--link-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#source-project{
    border: 2px solid var(--link-color);
    padding: 5px 0px;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--poesten-font);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--link-color);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#source-project:hover{
    scale: 1.01;
    transition: scale 0.5s linear;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.project-box-foot{
    /* border: 2px solid black; */
    padding: 5px 10px;
}

.project-box-foot>p{
    margin: 0;
}
.project-box-foot>p>a{
    color: var(--light-font2);
    font-size: 14px;
    font-family: var(--poesten-font);
}

.project-box-foot>p>a:hover{
    color: var(--link-color);
}