@media (min-width: 200px) and (max-width: 920px) {
    body {
        padding: 0%;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 18px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    #nav-links {
        width: 100%;
        padding: 20px 20px;
        gap: 30px;
        position: absolute;
        flex-direction: column;
        top: 120px;
        left: 0px;
        background-color: #f1f1f1;
        display: none;
    }

    #cross-mark {
        display: flex;
        align-self: flex-end;
        font-size: 30px;
        margin-right: 20px;
    }

    #nav-links>.link-item {
        width: 100%;
        border-bottom: 1px solid #c6c5c4;
    }

    .link-item>a {

        font-size: 18px;
    }


    .hamburger {
        display: flex;
    }

    .nav-logo {
        font-size: 20px;
        display: flex;
        flex-direction: column;
    }


    .logo-img-container>img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    /* Main Section  */
    .hero-text-content {
        padding: 40px 0px;
        font-size: 30px;
    }

    .hero-text-content>h1 {
        text-align: center;
    }

    .hero-text-content>h3 {
        text-align: center;
        font-size: 28px;
    }

}